<%# Logged in version  %>
<% if current_user %>
	<div class="push_1 grid_2 grayBorder user_nav">
		<a href="/editor">Level Creator</a>
	</div>
	<div class="push_1 grid_2 grayBorder user_nav">
		<%= link_to "Ones I Made", levels_path %>
	</div>
	<div class="push_1 grid_3 grayBorder user_nav omega" style="text-align: center; font-size: 16px;  margin-top:25px; padding: 5px 0 5px 0; margin-right:0" id='user_nav'>
		<%= link_to "#{current_user.name} - Sign Out", signout_path %>
	</div>
	<%= render :partial => "game/socialmedia" %>
<% else %>
	<div class="push_1 grid_2 grayBorder user_nav_disabled">
		Level Creator
	</div>
	<div class="push_1 grid_2 grayBorder user_nav_disabled">
		Ones I Made
	</div>
	<div class="push_1 grid_3 grayBorder user_nav">
		<%= link_to "Sign in with twitter", "/auth/twitter" %>
	</div>
	<%= render :partial => "game/socialmedia" %>
<% end %>