<% content_for :game_start do %>
<script type="text/javascript">
		ChuClone.model.Constants.GAME_WIDTH = 800;
		ChuClone.model.Constants.GAME_HEIGHT = 400;
		ChuClone.model.Constants.INITIAL_STATE = 'Edit';
		ChuClone.model.Constants.SERVER.ASSET_PREFIX = "<%= root_url.html_safe %>" + "game/";
        
		new ChuClone.ChuCloneGame( <%= @level.nil? ? "" : "\"#{level_path(@level,  :format => :js)}\"".html_safe %> );
	</script>
<% end %>

<% content_for :game_style do %>
    <%= render :partial => "game/style" %>
<% end %>

<div class="container_12">
	<div class="flash_notice" id="flash_notice">
		<a href="/EditMode">Notices:</a>
	</div>
	<%= render :partial => "title" %>
	<%= render :partial => "game/login" %>

 <div class="jura_16 grid_2" style="color: #7595FF; z-index:1; box-shadow: 3px 3px 3px #CCC; position: absolute; top: -5px; left: 20px; padding: 10px 0 10px 0; background-color: #52F3FF;text-align: center; ">
    <a href="/editor/faq"><span style="color:#1A4FFF; font-weight: 200;">EDITOR FAQ</span></a>
</div>

	<div id="gameContainer" class="push_1 grid_12" style="width:800px; height:400px;"></div>
	<div id="editorContainer" class="push_1 grid_12" style="width:800px; height: 400px;"></div>

	<div class="grid_4 push_1 lineBorder" id="HUDTime" style="margin-left:10px">00.0 secs</div>
	<div class="jura_36 grid_4"><p class="grayBorder push_1" id="levelName"> Level Name </p></div>
</div>