<% content_for :game_start do %>
	<script type="text/javascript">
		ChuClone.model.Constants.SERVER.ASSET_PREFIX = "game/";
		<%= render :partial => "game/game_init", :locals => { :level => @level } %>
	</script>
<% end %>

<% content_for :game_style do %>
    <%= render :partial => "game/style" %>
<% end %>

<div class="container_12">
	<%= render :partial => "game/title" %>
	<%= render :partial => "game/login" %>
    <div class="clear"></div>
	<%= render :partial => "game/colored_rectangles" %>

    <div class="jura_36 grid_4">
        <p class="grayBorder" id="leveltitle"><%= @level.title == APP_CONFIG["DEFAULTS"]["TITLE_SCREEN_LEVEL"] ? "LevelName" : @level.title %></p>
    </div>
	<div class="jura_16 push_1 grid_2" style="padding-top: 10px;" id="fullscreen_toggle">
        <p class="grayBorder"> Full Screen </p>
    </div>
    <div class="grid_4 push_2 omega" id="HUDTime">00.0 secs</div>
    <div class="clear"></div>
    <div id="gameContainer" class="grid_12"></div>
    <div id="editorContainer" class="grid_12" style="height: 540px;"></div>
    <div class="clear"></div>
    <div class="grid_12" style="height: 20px"></div>
    <div class="clear"></div>
    <div class="grid_6">
        <p class="grayBorder jura_36">
            Select Level
        </p>
        <!--    BEGIN LEVEL LIST -->
       <div id="levellisting">
            <% count = 0 %>
            <% perRow = 3 %>
            <% @levels.each do |level| %>
                <% count = count + 1 %>
                <% css_class = count % perRow == 0 ? "levelThumbnailOmega" : "levelThumbnail" %>
                <%= "\t<div data-location='' data-id='#{level.id}' class='grid_2 #{css_class}'><p>#{level.title}</p></div>".html_safe %>
            <% end %>
       </div>
        <!--    END LEVEL LIST -->
    </div>
	<div class="grid_6">
		<div class="grid_6">
			<p class="grayBorder jura_36">Level Information </p>
		</div>

		<div class="grid_6">
			<div class="grid_2 grayBorder alpha jura_13" style="text-align: center;">AUTHOR</div>
			<div class="grid_4 grayBorder alpha jura_13 omega" style="text-align: center;padding-right:6px" id="author"><%= @level.user.name %></div>
		</div>
		<div class="clear"></div>
		<div class="grid_6" style="margin-top:10px">
			<div class="grid_2 grayBorder alpha jura_13" style="text-align: center;">COMPLETION RATE</div>
			<div class="grid_4 grayBorder alpha jura_13 omega" style="text-align: center;padding-right:6px">85% Completion rate</div>
		</div>
		<div class="grid_6" style="margin-top:38px">
			<p class="grayBorder jura_36">Best Times</p>
		</div>

		<div class="grid_6" style="margin-top:0px">
		<% # Level Times  %>
		<% 10.times do |i| %>
			<% levelTime = rand(60.0*3.0)/4.0 %>
			<% color = rand(360) %>
			<%= "<div class='grid_2 grayBorder alpha jura_13' style='text-align: center; margin-top:-10px'>UserName #{color} </div>".html_safe %>
			<%= "<div class='grid_4 grayBorder alpha jura_13 omega' id='time_#{i}' style='text-align:center; margin-top:-10px; margin-bottom:20px; padding-right:6px'> #{levelTime} seconds</div>".html_safe %>
		<% end %>
			</div>
	</div>

	<div class="clear"></div>
</div>

<div class="grid_1 doMore prefix_1">
	<p><a href="https://github.com/onedayitwillmake/ChuClone">Fork on Github</a></p>
</div>