<%# THIS TEMPLATE IS USED PURELY FOR DEVELOPMENT - TO SEE TEST RENDERING SCORE STUFF %>

<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" href="<%= root_url %>game/assets/css/960/reset.css"/>
<link rel="stylesheet" href="<%= root_url %>game/assets/css/960/text.css"/>
<link rel="stylesheet" href="<%= root_url %>game/assets/css/960/960.css"/>
<%= stylesheet_link_tag "ChuClone", :cache => false %>



<link href="http://fonts.googleapis.com/css?family=Jura:300,400,500,600&v1" rel="stylesheet" type="text/css">
<style>
</style>

<div class="container_12">
	<%= render :partial => "game/title" %>
    <div class="clear"></div>
	<%= render :partial => "game/colored_rectangles" %>

    <div class="clear"></div>
	<%#=render :partial => "game/level_recap" %>
    <div class="clear"></div>
    <div class="grid_12" style="height: 20px"></div>
    <div class="clear"></div>
    <div class="grid_6">
        <p class="grayBorder jura_36">
            <%= @level.title %>
        </p>

    </div>
	<div class="grid_6">
		<div class="grid_6">
			<p class="grayBorder jura_36">Level Information </p>
		</div>

		<div class="grid_6">
			<div class="grid_2 grayBorder alpha jura_13" style="text-align: center;">AUTHOR</div>
			<div class="grid_4 grayBorder alpha jura_13 omega" style="text-align: center;padding-right:6px" id="author"><%= @level.user.name %></div>
		</div>
		<div class="clear"></div>
		<div class="grid_6" style="margin-top:10px">
			<div class="grid_2 grayBorder alpha jura_13" style="text-align: center;">COMPLETION RATE</div>
			<div class="grid_4 grayBorder alpha jura_13 omega" style="text-align: center;padding-right:6px"><%= (@level.times_played/@level.times_completed * 100) %>% Completion rate</div>
		</div>
		<div class="grid_6" style="margin-top:38px">
			<p class="grayBorder jura_36">Best Times</p>
		</div>

		<div class="grid_6" style="margin-top:0px">
			<% @level.highscores.each_with_index do |score, i|  %>
				<%= "<div class='grid_2 grayBorder alpha jura_13' style='text-align: center; margin-top:-10px'>#{score.user.name} </div>".html_safe %>
				<%= "<div class='grid_2 grayBorder alpha jura_13' id='time_#{i}' style='text-align:center; margin-top:-10px; margin-bottom:20px; width: 165px '> #{score.score/1000} seconds</div>".html_safe %>
				<%= "<div class='grid_2 grayBorder alpha jura_13 omega' id='time_#{i}' style='text-align:center; margin-top:-10px; margin-bottom:20px; width: 129px'> #{distance_of_time_in_words_to_now(score.updated_at)} ago</div>".html_safe %>
			<% end %>

		<% # Some filler level times  %>
		<% (10 - @level.highscores.length).times do |i| %>
			<% levelTime = rand(60.0*3.0)/4.0 %>
			<% color = rand(360) %>
			<%= "<div class='grid_2 grayBorder alpha jura_13' style='text-align: center; margin-top:-10px'>UserName #{color} </div>".html_safe %>
			<%= "<div class='grid_4 grayBorder alpha jura_13 omega' id='time_#{i}' style='text-align:center; margin-top:-10px; margin-bottom:20px; padding-right:6px'> #{levelTime} seconds</div>".html_safe %>
		<% end %>
			</div>
	</div>

	<div class="clear"></div>
</div>