<div class="container_12" >
	<div class="grid_12 alpha"><h2>All Levels</h2></div>


	<div class="clear"></div>
	<div class="push_1 grid_11">
	<div class="grid_2 grayBorder alpha">Title</div>
	<div class="grid_2 grayBorder">Created at</div>
	<div class="grid_1 grayBorder">played</div>
	<div class="grid_1 grayBorder">completed</div>
	<div class="grid_1 grayBorder">Order</div>
	<div class="clear"></div>
	<% @levels.each do |level| %>
		<% ampm = level.created_at.hour < 12 ? "am" : "pm"  %>
		<div class="grid_2 grayBorder alpha"><%= level.title %></div>
		<div class="grid_2 grayBorder"><%= "#{level.created_at.month}|#{level.created_at.day} @ #{(level.created_at.hour-12).abs}:#{level.created_at.min}#{ampm}"  %></div>
		<div class="grid_1 grayBorder"><%= 0 if level.times_played.nil? %></div>
		<div class="grid_1 grayBorder"><%= 0 if level.times_completed.nil? %></div>
		<div class="grid_1 grayBorder"><%= level.order_index  %></div>
		<div class="grid_1 grayBorder"><%= link_to 'Show', level %></div>
		<div class="grid_1 grayBorder"><%= link_to 'Edit', editor_path(level) %></div>
		<div class="grid_1 grayBorder omega"><%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete %></div>
		<div class="clear"></div>
	<% end  %>
		<div class="clear"></div>
		<div class="grid_2 grayBorder omega margin_top_1"><p><%= link_to 'New Level', new_level_path %><p></div>
		<div class="grid_2 grayBorder omega margin_top_1"><p><%= link_to 'Order Levels', reorder_path %><p></div>

	</div>
 </div>


