<!DOCTYPE html>
<html>
<head>
  <title>ChuCloneSite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id='flashflash'>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
	<div id='contentContainer'>
		<%= yield %>
		<%= flash_helper_2 %>
	</div>
</body>
</html>
