<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>ChuClone - Alpha</title>
	
    <% if false  %>
        <%= '<script type="text/javascript" src="http://benvanik.github.com/WebGL-Inspector/core/embed.js"></script>' %>
        <% end %>


	<%= render :partial => "game/imports" %>
	<%= yield :game_start %>
    <%= yield :game_style %>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1249241-7']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<%= yield %>
</body>
</html>