<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>ChuClone - Alpha</title>
	
    <% if false  %>
        <%= '<script type="text/javascript" src="http://benvanik.github.com/WebGL-Inspector/core/embed.js"></script>' %>
        <% end %>
    <%= embed_all.html_safe %>
	<%= yield :game_start %>
    <%= yield :game_style %>
</head>
<body>
	<%= yield %>
</body>
</html>